@charset "utf-8";
$warning:#4770a6;
@import '../../node_modules/bulma/bulma.sass';
body{
    display:flex;
    flex-direction: column;


    &::-webkit-scrollbar {
    width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    }

}



.startPage{
    h1 {
        margin-bottom: 0;
    }
    .uploadButton{
        padding:0 4rem;
        @include desktop {
            padding:2rem 4.1rem;
            font-size:larger
}
    }

    .container {
        margin-bottom: 2rem;
    }

    .table {
        background: none;

        .tableText{
            color:$grey-light;
        }
        #tableFiles {
            tr{
                &:hover{
                    background-color: #4770a68a ;

                }
                border-bottom: none;

            }
            td{
                border: none;
            }
        }

    }

    .optionsSection{

        #setTimer{
            width:6rem;
            &::placeholder{
                font-size:1.3rem;
                color:$grey;
            }
        }

        #setTimerButton{
            padding:0;
        }
        .buttonTime{
            border:none;
        }

    }


}


.playerPage{
    

    img{
        max-width: 100%;
        height: calc(100vh - 4.2rem);
        object-fit: contain;
    }
   
    .playerFooter{
        position:fixed;
        bottom:0;
        right: 0;
        left:0;
    }


}
.navbar{
    min-height: 0;
}
.titleBar{
    color:$grey-light;

    &.drag{
        -webkit-app-region:drag;
    }
    .no-drag{
        -webkit-app-region:no-drag;
    }
    .titleBarItem{

        a:hover{
            background-color:#46454596;
            span{
                color:$white-bis !important;
            }
        }
        &.close a:hover{
            background-color: $danger !important;
        }
    }
} 
