/* body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
} */

body::-webkit-scrollbar {
  width: 0.5rem;
  }
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

img{
    max-width: 100%;
    height: calc(100vh - 4.2rem);
    object-fit: contain;
}

h1 {
    margin-bottom: 0;
}

.drag{
    -webkit-app-region:drag;
}
.no-drag{
    -webkit-app-region:no-drag;
}

.container {
    margin-bottom: 2rem;
}

.table {
    background: none;
}
.tableText{
    color:#ffdc7d;
}

#setTimer{
    width:6rem;
    font-size: 1.2rem;
}

#setTimerButton{
    padding:0.5rem;
}

.player{
    flex:1;
    display:flex;
    flex-direction: column;
}

.playerFooter{
    position:fixed;
    bottom:0;
    right: 0;
    left:0;
}